<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- board -->    
<mapper namespace="com.mycom.myapp.board.dao.BoardDao">

	<!-- parameterType 생략 가능 확인 -->
	<select id="listBoard" resultType="com.mycom.myapp.board.dto.BoardDto">
		select b.board_id, u.user_seq, u.user_name, u.user_profile_image, b.title, b.reg_dt, b.read_count
		  from board b, users u
		 where b.user_seq = u.user_seq
		 order by b.board_id desc
		 limit #{limit} offset #{offset};
	</select>

	<select id="listBoardTotalCount">
		select count(*) from board;
	</select>
	
	<!-- 검색어 -->
	<select id="listBoardSearchWord" resultType="com.mycom.myapp.board.dto.BoardDto">
		select b.board_id, u.user_seq, u.user_name, u.user_profile_image, b.title, b.reg_dt, b.read_count
		  from board b, users u
		 where b.user_seq = u.user_seq
		   and b.title like concat('%', #{searchWord}, '%')
		 order by b.board_id desc
		 limit #{limit} offset #{offset};
	</select>

	<select id="listBoardSearchWordTotalCount" resultType="com.mycom.myapp.board.dto.BoardDto">
		select count(*) from board
		 where title like concat('%', #{searchWord}, '%');
	</select>
	
	<!-- 상세 및 글 조회 수 -->
	<select id="detailBoard" parameterType="com.mycom.myapp.board.dto.BoardParamDto" resultType="com.mycom.myapp.board.dto.BoardDto">
		select b.board_id, u.user_seq, u.user_name, u.user_profile_image, b.title, b.content, b.reg_dt, b.read_count
		  from board b, users u
		 where b.user_seq = u.user_seq
		   and b.board_id = #{boardId};
	</select>
	
	<select id="countBoardUserRead" parameterType="com.mycom.myapp.board.dto.BoardParamDto">
		select count(*)
		  from board_user_read
		 where board_id = #{boardId}
		   and user_seq = #{userSeq};
	</select>
	
	<insert id="insertBoardUserRead" parameterType="com.mycom.myapp.board.dto.BoardParamDto">
		insert into board_user_read (board_id, user_seq)
    		                 values (#{boardId}, #{userSeq});
	</insert>
	
	<update id="updateBoardUserRead" parameterType="int">
		update board
		   set read_count = read_count + 1
		 where board_id = #{boardId};
	</update>
	
	<!-- 등록, 수정, 삭제 -->
	<insert id="insertBoard" parameterType="com.mycom.myapp.board.dto.BoardDto">
		insert into board ( user_seq, title, content )
		           values ( #{userSeq}, #{title}, #{content});
	</insert>
	
	<update id="updateBoard" parameterType="com.mycom.myapp.board.dto.BoardDto">
		update board
		   set title = #{title},
		       content = #{content} 
		 where board_id = #{boardId};
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where board_id = #{boardId};
	</delete>
	
	<delete id="deleteBoardUserRead" parameterType="int">
		delete from board_user_read where board_id = #{boardId};
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		
</mapper>  